<br  />
<br  />

<div class="booyah-box col-xs-8 col-xs-offset-2 text-center">

  <br  />
  <br  />

  <b><h1 class="greet"> Happy Birthday </h1></b>

  <br  />
  <br  />

  <b><h2 class="greet"> Amazing Father!!! </h2></b>

  <br  />
  <br  />

  <%= link_to 'Click To Open The Card!', message_path, class: 'btn btn-danger btn-lg' %>

  <br  />
  <br  />

</div>
