<br  />
<br  />

<div class="booyah-box col-xs-8 col-xs-offset-2 text-center">

  <br  />
  <br  />

  <b><h1> Happy Birthday </h1></b>

  <br  />
  <br  />

  <b><h2> Lovely Mother!!! </h2></b>

  <br  />
  <br  />

  <%= link_to 'Open The Card!', message_path, class: 'btn btn-primary btn-lg' %>

  <br  />
  <br  />

</div>
