<br  />
<br  />




<div class="booyah-box col-xs-8 col-xs-offset-2">
  <!-- <%= image_tag 'birthday1.jpg', class: 'size-bigger' %> -->
  <iframe width="420" height="315"
  src="https://www.youtube.com/embed/q_2KT9wySdw?autoplay=1">
  </iframe>
</div>

<br class="clr">
  <br  />
  <br  />

<div class="booyah-box col-xs-10 col-xs-offset-1 text-center">
  <h1> <b>To the greatest father in the world</b> </h1>
  <p class="mess">
    I hope you have had a wonderful day and that it continues to get better!
    Hopefully the Hoosiers look good tonight and put on a show for your birthday.
    I love you very much and appreciate everything you do for me.
    I am very lucky to have the best dad in the world and have been
    extremely fortunate to have you and your guidance throughout my life.
    Hopefully I can make you proud.
  </p>
  <h3> <b>From Your Loving Son,</b> </h3>
  <h4> <b>David</b></h4>

</div>

  <br class="clr">
    <br  />
    <br  />


<div class="booyah-box col-xs-8 col-xs-offset-2">
  <%= image_tag 'birthday2.jpg', class: 'size' %>
</div>
